.App {
  text-align: center;
  background: #48474a;
  padding: 100px;
  font-weight: bold;
  text-transform: uppercase;
}
.wrapper,.wrBtn{
border: 2px solid #5d00ff;
border-radius: 4px;
background: transparent;
padding: 20px;

}
.wrapper{
  width: 600px;
  margin: 0 auto;
}
.num{
  background: #5d00ff;
  color: #fff;
  height: 50px;
  font-weight: bold;
  font-size: 27px;
}
.error{
  opacity: 0.3;
}
.inc{
  color: #fff;
}
.dflex{
  display: flex;
}
.someValue{
  width: 140px;
  height: 40px;
  border: 2px solid #5d00ff;
  border-radius: 4px;
  text-align: center;
  font-size: 21px;
  font-weight: normal;
}
.pullLeft{
  height: 40px;
  display: flex;
  justify-content: space-around;
  width: 395px;
  margin: 30px auto;
  line-height: 41px;
}
.wrBtn{
justify-content: space-around;
}
button{
  background: #5d00ff;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 23px;
  border: 2px solid  #5d00ff;
  border-radius: 4px;
  width: 125px;
}
button:hover{
  background: transparent;
  color:#5d00ff;
}

